/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# IDE specific files (e.g., RubyMine, IntelliJ IDEA)
.idea/

# Operating system specific files
.DS_Store

# Ignore Gemfile.lock in libraries (gems)
# In applications, Gemfile.lock should generally be committed.
Gemfile.lock

# Build artifacts
*.gem
